<a href="https://colab.research.google.com/github/etgcrog/rede-nerural/blob/Categorical/liner_regression_cars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [98]:
cars = pd.read_csv("/content/autos.csv", 
                   sep=',', 
                   on_bad_lines='skip',
                   encoding='ISO-8859-1',
                   )

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (4,7,9,11,12,17,18) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [99]:
#tratamento de dados
cars.drop(['name','dateCrawled', 'offerType', 'abtest', 'yearOfRegistration', 'brand', 'notRepairedDamage', 'notRepairedDamage', 'nrOfPictures',	'postalCode',	'lastSeen', 'dateCreated'],axis=1, inplace=True)

In [104]:
cars = cars.apply(pd.to_numeric, errors='coerce')
cars.dropna(inplace=True)

In [105]:
prices = np.array(cars.price, dtype='float64')

In [107]:
prices

array([], dtype=float64)

In [40]:
x = cars.drop('price', axis=1)
y = cars['price']

In [59]:
x['gearbox'] = x['gearbox'].fillna('manuell')
x = x.query('gearbox == "manuell" or gearbox == "automatik"')
# for column in cars.columns:
label_encoder = LabelEncoder()
cars['gearbox'] = label_encoder.fit_transform(cars['gearbox'])

In [68]:
x['gearbox'].value_counts()

manuell      575310
automatik    150734
Name: gearbox, dtype: int64

In [67]:
x

,seller,vehicleType,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType
0,privat,NaN,manuell,0.0,golf,150000.0,0.0,benzin
1,privat,coupe,manuell,190.0,NaN,125000.0,5.0,diesel
2,privat,suv,automatik,163.0,grand,125000.0,8.0,diesel
3,privat,kleinwagen,manuell,75.0,golf,150000.0,6.0,benzin
4,privat,kleinwagen,manuell,69.0,fabia,90000.0,7.0,diesel
...,...,...,...,...,...,...,...,...
726059,privat,NaN,manuell,0,NaN,20000,1,NaN
726060,privat,cabrio,automatik,101,fortwo,125000,3,benzin
726061,privat,bus,manuell,102,transporter,150000,3,diesel
726062,privat,kombi,manuell,100,golf,150000,6,diesel
726063,privat,limousine,manuell,320,m_reihe,50000,8,benzin